.bar {
    background-color: blue;
    font-size: 20px;
}
.bar2{
   background-color: brown;
    width: 50px;
    border-radius: 20px;
    border: 50; 
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-style: normal;
    padding: 50px;
    margin: 5px;
}
.bar3{
    background-color: chartreuse;
    font-size: medium;
    font-style: normal;
    
}