   .nav-bar
    background-color:rgb red,(231,110,88)
    margin: 20px;
    padding: 30px.nav-;
    text-align:right;
    
}
.picture{
    background-color: deepskyblue
    max-width: 50px;
    display:flex;
}
.history{
    background-color: rgb blue),
    font-style:left;
     
}
.joyfully{
    background-color: orangered;
    
}